apiVersion: v1
kind: Secret
metadata:
  name: postgresql
stringData:
  database-name: "coffeeshopdb"
  database-user: "{{ pgsql_username }}"
  database-password: "{{ postgres_password }}"
type: Opaque