apiVersion: v1
items:
- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    labels:
      app: quarkus-cafe-core
      app.kubernetes.io/component: quarkus-cafe-core
      app.kubernetes.io/instance: quarkus-cafe-core
    name: quarkus-cafe-core
    namespace: {{ project_namespace }}
  spec:
    failedBuildsHistoryLimit: 5
    completionDeadlineSeconds: 1800
    nodeSelector: null
    output:
      to:
        kind: ImageStreamTag
        name: quarkus-cafe-core:latest
    postCommit: {}
    resources:
      limits:
        cpu: "{{ quarkus_build_cpu_limit }}"
        memory: {{ quarkus_core_build_memory_limit }} 
      requests:
        cpu: "{{ quarkus_build_cpu_limit }}"
        memory: {{ quarkus_core_build_memory_limit }} 
    runPolicy: Serial
    source:
      contextDir: quarkus-cafe-core
      git:
        uri: {{ git_url }}
      type: Git
    strategy:
      sourceStrategy:
        from:
          kind: ImageStreamTag
          name:  {{ quarkus_image_stream_name }}
      type: Source
    successfulBuildsHistoryLimit: 5
    triggers:
    - github:
        secret: QRyCyCTic7V3Ccuam4hA
      type: GitHub
    - generic:
        secret: qkYCJYOsg80PYiYOMKlB
      type: Generic
    - type: ConfigChange
    - imageChange:
        lastTriggeredImageID: quay.io/quarkus/ubi-quarkus-native-s2i@sha256:f2dd51bafe51a8fb3bc39302e1ae4ec56ae23c531fbccb9632bfae72d079d9f0
      type: ImageChange
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    generation: 1
    labels:
      app: quarkus-cafe-core
      app.kubernetes.io/component: quarkus-cafe-core
      app.kubernetes.io/instance: quarkus-cafe-core
    name: quarkus-cafe-core
    namespace: {{ project_namespace }}
  spec:
    lookupPolicy:
      local: false
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    generation: 4
    labels:
      app: quarkus-cafe-core
      app.kubernetes.io/component: quarkus-cafe-core
      app.kubernetes.io/instance: quarkus-cafe-core
    name: quarkus-cafe-core
    namespace: {{ project_namespace }}
  spec:
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      deploymentconfig: quarkus-cafe-core
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        annotations:
          openshift.io/generated-by: OpenShiftNewApp
        creationTimestamp: null
        labels:
          deploymentconfig: quarkus-cafe-core
      spec:
        containers:
        - env:
          - name: KAFKA_BOOTSTRAP_URLS
            value: {{ kafka_cluster_name }}-kafka-bootstrap:9092
          - name: MONGO_DB
            value: cafedb
          - name: MONGO_URL
            value: mongodb://mongodb:mongodb@mongodb:27017/cafedb
          - name: MONGO_USERNAME
            value: mongodb
          - name: MONGO_PASSWORD
            value: mongodb
          image: image-registry.openshift-image-registry.svc:5000/{{ project_namespace }}/quarkus-cafe-core@sha256:dce6b5be7c172046099e2a753c852180fc103878a9fc65002267eb23b8c6f77f
          imagePullPolicy: Always
          name: quarkus-cafe-core
          ports:
          - containerPort: 8080
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - quarkus-cafe-core
        from:
          kind: ImageStreamTag
          name: quarkus-cafe-core:latest
          namespace: {{ project_namespace }}
        lastTriggeredImage: image-registry.openshift-image-registry.svc:5000/{{ project_namespace }}/quarkus-cafe-core@sha256:dce6b5be7c172046099e2a753c852180fc103878a9fc65002267eb23b8c6f77f
      type: ImageChange
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    labels:
      app: quarkus-cafe-core
      app.kubernetes.io/component: quarkus-cafe-core
      app.kubernetes.io/instance: quarkus-cafe-core
    name: quarkus-cafe-core
    namespace: {{ project_namespace }}
  spec:
    clusterIP: 172.30.28.46
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      deploymentconfig: quarkus-cafe-core
    sessionAffinity: None
    type: ClusterIP
  status:
    loadBalancer: {}
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
